.poza4 {
    display: block;
    position: relative;
    margin-top: 12%;
    margin-right: 15%;
    margin-left: 70%;
}

.text4 {
    position: relative;
    margin-left: 32%;
    margin-right: 31.2%;
    margin-top: -19%;
}

.text4 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titlu4 {
    position: absolute;
    margin-top: -22.5%;
    margin-left: 33%;
    font-size: 40px;
}