.slider-container {
    position: absolute;
    top:0;
    width: 100%;
    height: calc(((15vw * 0.625) * 3) + 20px);
    /* Aspect ratio de 16:10 și 50% din h */
    overflow: hidden;
    margin:0;
    padding: 0;
    left: 0;


  }

  .slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
  }

  .slider img.active {
    opacity: 1;
    filter: brightness(75%) blur(2px);
  }

  h1{
    text-align: center;
    margin-top: 80px;
    font-size: 80px;
    font-family: monospace;
    position: relative;
    color: rgb(244, 248, 143);
    margin-top: 180px;
}