.poza3 {
    display: block;
    position: relative;
    margin-top: -34%;
    margin-left: 15%;
}

.text3 {
    display: block;
    position: absolute;
    margin-top: -20%;
    margin-left: 32%;
    margin-right: 31.2%;
}

.text3 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titlu3 {
    position: absolute;
    margin-top: -22.5%;
    margin-left: 33%;
    font-size: 40px;
}