.home-1{
    background-color: rgb(0, 0, 0);; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.home1{
    position: absolute;
    margin-top: 0%;    
    margin-left: 0%;
}





.informatii-2{
    background-color: rgb(0, 0, 0);; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.informatii2{
    position: absolute;
    margin-top: -4.35%;
    margin-left: 7.5%;
}






.informatii-3{
    background-color: rgb(0, 0, 0);; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.informatii3{
    position: absolute;
    margin-top: -4.35%;
    margin-left: 17%;
}
